<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sky.androidthreadapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".ui.ThreadMainActivity"
            android:label="@string/thread_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".mythread.HandlerThreadTestActivity"/>
        <activity android:name=".mythread.IntentServiceTestActivity"/>
        <activity android:name=".mythread.MyAsyncTaskActivity"/>
        <activity android:name=".mythread.ThreadPoolTestActivity"/>
        <activity android:name=".mythread.ThreadStopTestActivity"/>
        <activity android:name=".mythread.ThreadTestActivity"/>

        <service android:name=".mythread.IntentServiceTest" />
    </application>

</manifest>